html {
    font-family: sans-serif;
  }
  
  body {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    background-color: #212121;
    color: white;
  }
  
  .lastResult,
  .guesses {
    color: white;
    padding: 7px;
  }
  
  button {
    background-color: #141414;
    color: #fff;
    width: 70%;
    height: 50px;
    border-radius: 25px;
    font-size: 1.2rem;
    border: none;
    margin-top: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #333;
    transform: scale(1.05);
  }
  
  #subt {
    background-color: #161616;
    color: #ffffff;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  #subt:hover {
    background-color: #333;
    transform: scale(1.05);
  }
  
  #guessField {
    color: #000;
    width: 70%;
    height: 50px;
    font-size: 1.2rem;
    border: 2px solid #6c6d6d;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
  }
  
  #guess {
    font-size: 2rem;
    margin-top: 40px;
    color: #fff;
  }
  
  .guesses {
    background-color: #7a7a7a;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  #wrapper {
    box-sizing: border-box;
    text-align: center;
    width: 90%;
    max-width: 450px;
    height: auto;
    padding: 20px;
    background-color: #474747;
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
    margin: 50px auto;
  }
  
  h1 {
    background-color: #161616;
    color: #fff;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
  }
  
  p {
    font-size: 1rem;
    margin: 10px 0;
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 1.5rem;
    }
  
    #guessField,
    #subt,
    button {
      width: 90%;
      font-size: 1rem;
    }
  }
  